.slogan {
    height: 250px;
    background: #ff7d00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}