.slogan {
    height: 50vh;
    background: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /*border: 1px solid;*/
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.advantages{
    text-transform: capitalize;
    text-align: center;
}
.advantages::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    height: 1px;
    width: 180px;
    z-index: 0;
    background: #4e93e6;
    box-sizing: border-box;
}
@media only screen and (max-width: 850px) {
    .slogan {
        min-height: 100vh;
    }
}

@media only screen and (max-width: 520px) {
    .slogan {
        min-height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}