.slogan {
    padding: 100px 0;
    background: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /*border: 1px solid;*/
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.advantages{
    text-transform: capitalize;
}

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 520px) {
    .slogan {
        padding: 70px 0px;
        /*min-height: 75vh;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

}