.header {
    height: 60px;
    background: #6bafff;
    display: flex;
    justify-content: center;

}
.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
