.contacts {
    padding: 100px 0;
    mix-height: 100vh;
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.form {
    width: 60%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form textarea {
    resize: vertical;
    box-sizing: border-box;
    max-width: 100%;
}

.form input:focus, .form textarea:focus {
    outline-color: #ffd800;
}

.form button {
    /*font-size: 1.2em;*/
    /*width: 150px;*/
    /*font-weight: bold;*/
    /*height: 45px;*/
    margin-top: 40px;
    align-self: center;
}

.form input {
    height: 30px;
}

.form input, .form textarea {
    margin-bottom: 15px;
    background: #252527;
    border: 1px solid #4a4a4a;
    /*font-size: 12px;*/
    padding: 0 15px;
    border-radius: 0;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
}

.form input::placeholder, .form textarea::placeholder {
    color: #cdfaf8;
}

@media only screen and (max-width: 850px) {
    .contacts {
        max-height: 140vh;
    }

    .container {
        /*min-height: 80vh;*/
    }
}

@media only screen and (max-width: 850px)and (min-height: 750px) {
    .contacts {
        max-height: 90vh;
    }

    .container {
        /*min-height: 80vh;*/
    }
}

@media only screen and (max-width: 520px) {
    .contacts {
        padding: 70px 0;
    }

    .container {
        /*width: 95%;*/
    }

    .form {
        width: 100%;
    }

}
