.contacts {
    height: 100vh;
    background: #548cff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form button {
    font-size: 1.2em;
    width: 150px;
    font-weight: bold;
    height: 45px;
    margin-top: 40px;
    align-self: center;
}

form input {
    margin-bottom: 15px;
}


@media only screen and (max-width: 850px) {
    .contacts {
        height: 100vh;
    }

    .container {
        min-height: 80vh;
    }
}

@media only screen and (max-width: 520px) {
    .container {
        /*width: 95%;*/
    }

    .form {
        width: 100%;
    }

}