.project {
    background: #b6b3ac;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.projectName {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.image {
    background: url(https://proektnareklamu.ru/images/1.jpg);
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
}

.image button {
    margin: auto;
    font-size: 1.2em;
    width: 150px;
    font-weight: bold;
    height: 45px;
}


.projectDescription {
    background: #c8ffb3;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    /*align-self: stretch;*/
}

@media only screen and (max-width: 520px) {
    .project {
        width: 100%;
        margin-bottom: 30px;
    }

    .skill img {
        padding-top: 0px;
    }

    .image {
        height: 100vw;
    }
}
