
.portfolio {
    min-height: 320px;
    min-width: 320px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 5px;
}


h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
