
.particles {
    /*position: fixed !important;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0.4;
}




.portfolio {
    min-height: 320px;
    min-width: 320px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 5px;
}


h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
