.projects {
    padding: 100px 0;
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 30vw;*/
}

.container {
    flex-direction: column;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectsContainer {
    /*margin-top: 40px;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
@media only screen and (max-width: 850px) {
    .projects {
        min-height: 140vh;
    }
}
@media only screen and (max-width: 520px) {
    .projects {
        height: auto;
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .container {
    /*width: 100%;*/
    }

    .projectsContainer {
        height: auto;

        width: 100%;
        flex-wrap: wrap;
    }
}